<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style2.css" />
    <script
      src="https://kit.fontawesome.com/e236dc9dfa.js"
      crossorigin="anonymous"
    ></script>

    <!-- for textEditor -->
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/super-build/ckeditor.js"></script> -->
    <!-- for textEditor -->

    <title>addNewReport</title>
  </head>
  <body class="transition-all duration-300 bg-semiWhite relative">
    <!-- close the writeReportPage -->
    <a class="float-right m-5 mr-14" href="{% url 'reports_engineer' %}">
      <i
        class="fa-regular fa-circle-xmark text-3xl hover:text-bluelg transition-all duration-300"
      ></i>
    </a>
    <div
      class="w-full h-full bg-semiWhite p-12 flex justify-center flex-col text-right gap-7"
    >
      <div class="text-2xl font-bold pr-3">:گزارش خود را بنویسید</div>
      <form action="/add_report_engineer" class="border-2 border-bluewhte rounded-xl p-7 bg-bluelg" method="post">
        {% csrf_token %}
        <textarea
          id="editor"
          name="editor"
          class="text-black text-xl bg-semiWhite w-full outline-none rounded-lg p-5 text-right min-h-80"
        ></textarea>
        <!-- this input for submit the report -->
        <button
          type="submit"
          class="border-2 border-black font-bold rounded-xl p-4 cursor-pointer mt-4 float-left ml-8 hover:bg-black hover:text-semiWhite transition-all duration-300"
        >
          ثبت گزارش
        </button>
      </form>
    </div>

    <script src="static/js/addReportEngineerPanel.js"></script>
  </body>
</html>
