<h1> 
    SignUp
</h1>

<form action="/signup" method="post">
{% csrf_token %}    
    
    <label for="">Username</label>
    <input type="text" id="username" name="username" placeholder="Create a username (only letters and numbers" Required>
        <br>
    <label for="">Firstname</label>
    <input type="text" id="firstname" name="firstname" placeholder="Create a firstname (only letters)" Required>
        <br>
    <label for="">Lastname</label>
    <input type="text" id="lastname" name="lastname" placeholder="Create a lastname (only letters)" Required>
        <br>
    <button type="submit">Signup</button>
</form>